body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

input,
textarea,
button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}